* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  border: 10px solid blue;
}

#header {
  border: 3px solid rgb(187, 255, 0);
  background-image: url(./IMAGENES/Central/imagenCentral.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/****************************************
* MENU TELF
****************************************/
.navbar {
  border: 3px solid rgb(255, 0, 0);
}

/****************************************
* MENU PC
****************************************/
#navbarNav {
  border: 3px solid rgb(21, 221, 75);
  width: 80%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1rem;
}

#navbarNav ul {
  justify-content: space-between;
  width: 60%;
  border: 3px solid rgb(8, 8, 8);
}

#navbarNav ul li {
  align-items: center;
  align-self: center;
}
